{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
<!-- <h1> Records </h1> -->

<table class="table table-striped table-hover table-bordered">
	<thead class="table-dark">
		<tr>
			<th scope="col">Shipping Id</th>
			<th scope="col">Order Id</th>

		</tr>
	</thead>
	<tbody>
		{% if ecommordertoid %}
		
		{% for item in ecommordertoid %}
		<tr>
			{% if item.complete %}
			<td>{{ forloop.counter0 }}</td>
			<td>{{ item.id }}</td>
			{% endif %}

		</tr>
		{% endfor %}

		{% endif %}

</table>  
</div>

{% else %}
<h1>You need to login first</h1>

{% endif %} 


{% endblock %}
