{% extends 'base.html' %}
{% load static %}
{% block content %}

{% for feedbacks in feedback_list %}
<br>
<div class="card" style="width: 70%; margin: 0 auto;">
    <div class="card-body">
      <h5 class="card-title">{{ feedbacks.name }}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">{{ feedbacks.email }}</h6>
      <p class="card-text">{{ feedbacks.feedback }}</p>
      <!-- <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a> -->
    </div>
</div>
{% endfor %}
<br>
{% endblock content %}
